@model List<ESMIlWebApp.Models.ReasonOfComingModel>

<select class="form-control select2" placeholder="" id="drpReasonOfComing">

    @foreach (var item in Model)
    {
        <option value="@item.Value">
            @item.Type
        </option>
    }

</select>