@{
    ViewData["Title"] = "Bible study unit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
    .dataTables_wrapper .row:first-child {
        border-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
.dataTables_wrappr{

    background:lightblue;
}
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: gold;
    border-radius: 0px;
    border: 1px solid #828282;
    border-color:gold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background:green;
}
    div.dataTables_wrapper div.dataTables_length select {
        width: 170px;
    }
  
   div .dataTables_wrapper{
    background-color:aliceblue;
    }
</style>

    <button class="btn btn-primary btn-rounded" id="newRecord">Capture New Record</button>
<br><br>
<div class="table-responsive">
    @*<div style="overflow-x:scroll">*@
        <table id="bibleStudyTable" width="100%" class="stripe hover">
            <thead>
                <tr>
                <th class="check-col" align="center"><input type="checkbox" name=selectAll value="1" id="example-select-all"></th>
                   <th>Action</th>
                  @*  <th>Photo Passport</th>*@
                    <th>ID</th>
                    <th>Surname</th>
                    <th>Firstname</th>
                    <th>Middlename</th>
                    <th>Date Of Birth</th>
                </tr>
            </thead>
            @*<thead>
                <tr>
                    @*<th></th>
                    <th></th>
                    <th></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                </tr>
            </thead>*@
            <tbody>
            </tbody>
        </table>
    @*</div>*@
    

</div>

@using(Html.BeginForm("ViewBibleStudyUnit","UnitManagement",FormMethod.Post, new { id="viewBibleStudyForm", target="_blank"}))
{
    <input type="hidden" name="viewRecordId" id="viewRecordId">
}
@using(Html.BeginForm("UpdateBibleStudyUnit","UnitManagement",FormMethod.Post, new { id="updateBibleStudyForm", target="_blank"}))
{
    <input type="hidden" name="updateRecordId" id="updateRecordId">
}


@section scripts{           
    <script>
      
        var table =$("#bibleStudyTable").DataTable({
        "lengthMenu":[[7,20,25,50, -1],[7,20,25,50,"All"]],
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "paginate":true,
       // colReorder: false,
      //  rowReorder:false,
        //select: true,
        //dom: 'Bfrtip',  , new {area="Unit"}
        "ajax":{
        "url":"@Url.Action("GetAllBibleStudyUnit","BibleStudyUnit")",
        "type":"POST",
        "datatype":"json",
        "data":function(arg){}
        },
        "columns":[

            {
            "data":null,"sTitle": "Actions",

            "render": function (data, type, row, meta)
            {
            if (row)
            {
              return `<button class=" btn btn-danger sureToDeleteThis" onclick='DeleteStd(${row.id})'>Delete</button>`
            }
            return ''
            }
            },

           
            {
            "data": null, "name":"Action", "defaultContent":'<div class="btn-group mr-1 mb-1">'+
            "<button aria-expanded='false' aria-haspopup='true' class='btn btn-white dropdown-toggle' data-toggle='dropdown' id='dropdownMenuDetail' type='button'></button>"+
            "<div aria-labelledby='dropdownMenuButton6' class='dropdown-menu'>"+
            "<a class='dropdown-item' href='#' id='changeRecord' title='Update record'><i class='fa fa-edit'></i>&nbsp; Update record</a>"+
            "<a class='dropdown-item' href='#' id='viewRecord' title='View record'><i class='fa fa-info-circle'></i>&nbsp; View record</a>"+
            "<a class='dropdown-item' href='#' id='deleteRecord' title='Delete Record'><i class='fa fa-trash-o'></i>&nbsp;Delete Record</a>" +
            "</div>"+
            '</div>'
            
        },
        {"data":"id", "name":"id", "autoWidth":false},
        {"data":"surname", "name":"surname", "autoWidth":false},
        {"data":"firstname", "name":"firstname", "autoWidth":false},
        {"data":"middlename", "name":"middlename", "autoWidth":false},
       // {"data":"strDateOfBirth", "name":"dateofbirth", "autoWidth":false},
        {"data":null,"sTitle": "Actions",
         "render": function (data, type, row, meta)
        {
         if (row)
         {
         return `<button class=" btn btn-danger" onclick='DeleteStd(${row.id})'>Delete</button>`
         }
         return ''
         }
         },
        ],
      }); 

        function DeleteStd(id){
            var postId={
            "payload":id
            }
            bootbox.confirm({
                 message:       "Are you sure you want to DELETE this record?",
                 buttons: {
                 cancel: {
                 label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                label: '<i class="fa fa-check"></i> Confirm'
                }
    },
    callback: function (result) {
        if(result){
           
         $.ajax({
                    type: "POST",
                    url: "@Url.Action("ActionButton", "BibleStudyUnit", new { area = "Unit" })",
                    datatype: "JSON",
                    data:postId,
                    
                });
               bootbox.alert("You have successfully deleted the record.", function(){ 
                window.location.reload(); 
                });
                }
                else{
                bootbox.alert("Record was not deleted.");
                }
    }
});
         
    }
          var operationProcessUrl = "@Url.Action("ActionButton", "BibleStudyUnit", new { area = "Unit" })";
            $('#bibleStudyTable tbody').on('click','#deleteRecord' ,function (e) {
                e.preventDefault();
                
                bootbox.confirm({

                    title: '<i class="fa fa-warning"></i> Warning',
                    message: "Do you still want to continue with this operation?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-remove"></i> No'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Yes'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                  //var data1 = table.row($(this).parents('tr')).data();
                    var data2=table.row($(this).parents('tr')).data();
               //var data1 = table.row( this ).data().id;//parents('tr')).data();
                console.log(data2);
                // var arraydata=  arraysOfIds.push(data1.id);
              
                 
                            var data = {
                                //actionType: $("#ActionType").val(),
                                id:data2.id,
                            }

                            //if (data.ids == "") {
                            //    SiteUtils.showMessage("Error", "red", "No row id selected");
                            //    return
                            //}

                            var payload = SiteUtils.encrypt(JSON.stringify(data)).toString();

                            SiteUtils.post({ payload: payload }, operationProcessUrl).then(function (response) {
                                if (response.hasError == false) {

                                    table.draw();


                                    SiteUtils.showMessage("Success", "green", response.message);

                                } else {

                                    SiteUtils.showMessage("Error", "red", response.message);

                                }


                            }).catch(function (err) {
                                SiteUtils.loadingOff();
                                SiteUtils.showMessage("Error", "red", err.statusText);
                            })


                        }
                    }
                });
            })


         $('#bibleStudyTable tbody').on('click', '#viewRecord', function (e) {
                e.preventDefault();
                var data = table.row($(this).parents('tr')).data();
                $("#viewRecordId").val(data.id);
                $("#viewBibleStudyForm").submit();

            });

            $('#bibleStudyTable tbody').on('click', '#changeRecord', function (e) {
                e.preventDefault();
                var data = table.row($(this).parents('tr')).data();
                $("#updateRecordId").val(data.id);
                $("#updateBibleStudyForm").submit();

                console.log(data.Id)
            });

            $('#newRecord').on('click', function(e){
            e.preventDefault();
            var returnUrl = '@Url.Action("CreateNewBibleUnit", "UnitManagement")';
            window.location.href = returnUrl;
            })
           
    </script>
}