@{
    ViewData["Title"] = "ESMAF";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>

</style>

<button class="btn btn-primary btn-rounded" id="newRecord">Capture New Record</button>
<br>
<br>
<div class="table-responsive">
    @*<div style="overflow-x:scroll">*@
    <table id="esmafTable" width="100%" class="stripe hover">
        <thead>
            <tr>
                @* <th class="check-col" align="center"><input type="checkbox" name=selectAll value="1" id="example-select-all"></th>*@
                <th>Actions</th>
                <th>Surname</th>
                <th>Othernames</th>
                <th>Gender</th>
                <th>Phone Number </th>
                <th>Email</th>
                <th>House Address</th>
                <th>Course Of Study</th>
                <th>Faculty</th>
                <th>Year Of Entry</th>
                <th>Year Of Graduation</th>
                <th>Unit Served</th>
            </tr>
        </thead>
        @*<thead>
        <tr>
        @*<th></th>
        <th></th>
        <th></th>
        <th><input class="form-control search-input" data-column="" type="text"></th>
        <th><input class="form-control search-input" data-column="" type="text"></th>
        <th><input class="form-control search-input" data-column="" type="text"></th>
        </tr>
        </thead>*@
        <tbody>
        </tbody>
    </table>
    @*</div>*@
</div>



@using (Html.BeginForm("ViewEsmaf", "UnitManagement", FormMethod.Post, new { id = "viewEsmafForm", target = "_blank" }))
{
    <input type="hidden" name="viewRecordId" id="viewRecordId">
}
@using (Html.BeginForm("UpdateEsmaf", "UnitManagement", FormMethod.Post, new { id = "updateEsmafForm", target = "_blank" }))
{
    <input type="hidden" name="updateRecordId" id="updateRecordId">
}


@section scripts{
    <script>

        var table = $("#esmafTable").DataTable({
            columnDefs: [{
                targets: [6],
                render: $.fn.dataTable.render.ellipsis(10)
            }],
            "lengthMenu": [[7, 20, 25, 50, -1], [7, 20, 25, 50, "All"]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paginate": true,
            "scrollX": true,
            // colReorder: false,
            //  rowReorder:false,
            //select: true,
            //dom: 'Bfrtip', , new{area="Unit"}
            "ajax": {
                "url": "@Url.Action("GetAllEsmaf","ESMAF")",
                "type": "POST",
                "datatype": "json",
                "data": function (arg) { }
            },
            "columns": [
                {
                 "data": null, "name": "Action", "defaultContent": '<div class="btn-group mr-1 mb-1">' +
                        "<button aria-expanded='false' aria-haspopup='true' class='btn btn-white dropdown-toggle' data-toggle='dropdown' id='dropdownMenuDetail' type='button'></button>" +
                        "<div aria-labelledby='dropdownMenuButton6' class='dropdown-menu'>" +
                        "<a class='dropdown-item' href='#' id='changeRecord' title='Update record'><i class='fa fa-edit'></i>&nbsp; Update record</a>" +
                        "<a class='dropdown-item' href='#' id='viewRecord' title='View record'><i class='fa fa-info-circle'></i>&nbsp; View record</a>" +
                        "</div>" +
                        '</div>'

                },

                { "data": "surname", "name": "surname", "autoWidth": false },
                { "data": "othernames", "name": "othernames", "autoWidth": false },
                { "data": "gender", "name": "gender", "autoWidth": false },
                { "data": "phoneNumber", "name": "phoneNumber", "autoWidth": false },
                { "data": "email", "name": "email", "autoWidth": false },
                { "data": "houseAddress", "name": "houseAddress", "autoWidth": false },
                { "data": "courseOfStudy", "name": "courseOfStudy", "autoWidth": false },
                { "data": "faculty", "name": "faculty", "autoWidth": false },
                { "data": "yearOfEntry", "name": "yearOfEntry", "autoWidth": false },
                { "data": "yearOfGraduation", "name": "yearOfGraduation", "autoWidth": false },
                { "data": "unitServed", "name": "unitServed", "autoWidth": false }

            ],

        });


        $('#esmafTable tbody').on('click', '#viewRecord', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            $("#viewRecordId").val(data.id);
            $("#viewEsmafForm").submit();

        });

        $('#esmafTable tbody').on('click', '#changeRecord', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            $("#updateRecordId").val(data.id);
            $("#updateEsmafForm").submit();

        });

        $('#newRecord').on('click', function (e) {
            e.preventDefault();
            var returnUrl = '@Url.Action("CreateNewEsmaf", "UnitManagement")';
            window.location.href = returnUrl;
        })

    </script>
}