@{
    ViewData["Title"] = "Prayer unit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="controls-below-table">
           @* <div class="table-records-info">
                <div class="col-auto">
                    <div class="input-group">
                        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1" type="button" style="min-width:100px;left: unset;top:auto !important;text-align: left">Action</button>
                        <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                            <a class="dropdown-item show_in_pending" href="javascript:;" title="delete record" onclick="Action_Click('btnDelete')"><span class="fa fa-trash-o"></span> Delete</a>
                        </div>
                        <select aria-controls="bankTable" id="statusAction" class="form-control form-control-sm">
                            <option value="P">Pending</option>
                            <option value="T">Send For Approval</option>
                            <option value="-1">All</option>
                        </select>
                        
                    </div>
                    
                </div>
            </div>*@
            <div class="table-records-pages">
                <form class="row g-3">
                    
                    <div class="col-auto">
                        <div id="Search">

                        </div>
                    </div>
                   @* <div class="col-auto" style="padding-right:20px !important">
                        <a asp-action="CreatePrayerUnit" asp-controller="UnitManagement" asp-area="Unit" class="btn btn-primary float-right"><i class="fa fa-plus"></i> | &nbsp;<span> &nbsp;&nbsp;&nbsp; </span></a>
                    </div>*@
                </form>
            </div>
        </div>

<div class="table-responsive">
    <div style="overflow-x:scroll">
        <table id="prayerTable" width="100%" class="nowrap">
            <thead>
                <tr>
                    @*<th class="check-col" align="center"><input type="checkbox" name=selectAll value="1" id="example-select-all"></th>*@
                    <th>ID</th>
                    <th></th>
                    <th>Surname</th>
                    <th>Firstname</th>
                    <th>Middlename</th>
                </tr>
            </thead>
            @*<thead>
                <tr>
                    @*<th></th>
                    <th></th>
                    <th></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                    <th><input class="form-control search-input" data-column="" type="text"></th>
                </tr>
            </thead>*@
            <tbody>
            </tbody>
        </table>
    </div>
   @*<div class="invoice-footer">
       <div class="invoice-logo">
           <div class="row">
               <div id="paginationLenght">
                </div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div id="paginationInfo"></div>
           </div>
       </div>
       <div class=invoice-info>
           <div class="dataTables_paginate paging_simple_numbers" id="pagination"></div>
       </div>
   </div>*@
</div>

@using(Html.BeginForm("ViewPrayerUnit","UnitManagement",FormMethod.Post, new { id="viewPrayerForm", target="_blank"}))
{
    <input type="hidden" name="viewRecordId" id="viewRecordId">
}
@using(Html.BeginForm("UpdatePrayerUnit","UnitManagement",FormMethod.Post, new { id="updatePrayerForm", target="_blank"}))
{
    <input type="hidden" name="updateRecordId" id="updateRecordId">
}


@section scripts{
    <script>
        var arraysOfIds =[];
        
        function Action_Click(option) {
            $('.ActionType').val(option);
            if (option == 'btnForVerification') {
                if (arrayOfIds == undefined || arrayOfIds == null || arrayOfIds == "") {
                    bootbox.alert({ message: "Please tag record(s) and send for verification" });
                } else {
                    $('.ActionBtn').click();
                }
            }
            if (option == 'btnDelete') {
                if (arrayOfIds == undefined || arrayOfIds == null || arrayOfIds == "") {
                    bootbox.alert({ message: "Please tag record(s) and delete" });
                } else {
                    $('.ActionBtn').click();
                }
            }
            if (option == 'btnRetrieve') {
                if (arrayOfIds == undefined || arrayOfIds == null || arrayOfIds == "") {
                    bootbox.alert({ message: "Please tag record(s)" });
                } else {
                    $('.ActionBtn').click();
                }
            }

        }

        var table=$("#prayerTable").DataTable({
        "lenghtMenu":[[10,20,25,50, -1],[10,20,25,50,"All"]],
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        colReorder: false,
        rowReorder:false,
        //select: true,
        //dom: 'Bfrtip',
        "ajax":{
        "url":"@Url.Action("GetAllPrayerUnit","PrayerUnit", new{area="Unit"})",
        "type":"POST",
        "dataType":"json",
        "data":function(arg){}
        },
        "columns":[
            //{
            //    'data':"id",
            //    'targets':0,
            //    'searchable':false,
            //    'orderable':false,
            //    'className':'dt-body-center',
            //    'render':function(data,type,full,meta){
            //        return '<input type="checkbox" name="id[]" value="'+$('<div/>').Text(data).html() + '">';
            //    }
            //},
            {'data':"id", "name":"Id", "autoWidth":false},
            {'data':null, "name":"Action", "defaultContent":'<div class="btn-group mr-1 mb-1">'+
            "<button aria-expanded='false' aria-haspopup='true' class='btn btn-white dropdown-toggle' data-toggle='dropdown' id='dropdownMenuDetail' type='button'></button>"+
            "<div aria-labelledby='dropdownMenuButton1' class='dropdown-menu'>"+
            "<a class='dropdown-item' href='#' id='changeRecord' title='Update record'><i class='fa fa-edit'></i>&nbsp; Update record</a>"+
            "<a class='dropdown-item' href='#' id='viewRecord' title='View record'><i class='fa fa-info-circle'></i>&nbsp; View record</a>"+
            "<a class='dropdown-item show_in_pending' href='#' id='deleteRecord' title='Delete Record'><i class='fa fa-trash-o'></i>&nbsp;Delete Record</a>" +
            "</div>"+
            '</div>'  },
        {'data':"surname", "name":"surname", "autoWidth":false},
        {'data':"firstname", "name":"firstname", "autoWidth":false},
        {'data':"middlename", "name":"middlename", "autoWidth":false},
        ],

        initComplete: function () {
                   // $('#prayerTable_length').appendTo($('#paginationLenght'))
                  //  $('#prayerTable_filter').appendTo($('#Search'))
                  //  $('#prayerTable_paginate').appendTo($('#pagination'))
                  //  $('#prayerTable_info').appendTo($('#paginationInfo'))
                    //$('#bankTable_').appendTo($('#export'))
                },
        });
        $('.search-input').on('keyup change', function(){
        var index=$(this).attr('data-column'),
        val=$(this).val();
        table.columns(index).search(val.trim()).draw();
        });

        $('#example-select-all').on('click', function(){
            var rows=table.rows({'search':'applied'}).nodes() //All rows with search applied
            $('input[type="checkbox"]', rows).prop('checked', this.checked); //check and uncheck for all rows in the table
            getSelectedRowsId();
        });
        // Handle click on checkbox to set state of "Select all" control
        $("#prayerTable tbody").on('change','input[type="check"Box]', function(){
            if(!this.checked)// If checkbox is not checked
            {
                var el=$('#example-select-all').get(0);
                if(el && el.checked &&('indeterminate' in el))// If "Select all" control is checked and has 'indeterminate' property
                {
                    el.indeterminate=true;
                }
            }
            g
            
            etSelectedRowsId();
        })

        function getSelectedRowsId()
        {
         arraysOfIds=[];
         table.$('inpu[type="checkbox"]').each(function(){
            if(this.checked){
             arraysOfIds.push(this.value);
            }
         });
        }


         var operationProcessUrl = "@Url.Action("ActionButton", "PrayerUnit", new { area = "Unit" })";
            $(".ActionBtn").click(function (e) {
                e.preventDefault();

                bootbox.confirm({

                    title: '<i class="fa fa-warning"></i> Warning',
                    message: "Do you still want to continue with this operation?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-remove"></i> No'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Yes'
                        }
                    },
                    callback: function (result) {
                        if (result) {

                            var data = {
                                actionType: $("#ActionType").val(),
                                ids: arrayOfIds
                            }

                            if (data.actionType == "" || data.ids == "") {
                                SiteUtils.showMessage("Error", "red", "No row id selected");
                                return
                            }

                            var payload = SiteUtils.encrypt(JSON.stringify(data)).toString();
                            SiteUtils.loading();

                            SiteUtils.post({ payload: payload }, operationProcessUrl).then(function (response) {
                                SiteUtils.loadingOff();
                                if (response.hasError == false) {

                                    table.draw();


                                    SiteUtils.showMessage("Success", "green", response.message);

                                } else {

                                    SiteUtils.showMessage("Error", "red", response.message);

                                }


                            }).catch(function (err) {
                                SiteUtils.loadingOff();
                                SiteUtils.showMessage("Error", "red", err.statusText);
                            })


                        }
                    }
                });
            })


         $('#prayerTable tbody').on('click', '#viewRecord', function (e) {
                e.preventDefault();
                var data = table.row($(this).parents('tr')).data();
                $("#viewRecordId").val(data.Id);
                $("#viewPrayerForm").submit();

            });

            $('#prayerTable tbody').on('click', '#changeRecord', function (e) {
                e.preventDefault();
                var data = table.row($(this).parents('tr')).data();
                $("#updateRecordId").val(data.Id);
                $("#updatePrayerForm").submit();

                console.log(data.Id)
            });

            $('#prayerTable tbody').on('click', '#deleteRecord', function (e) {
                e.preventDefault();
                arrayOfIds = [];
                var data = table.row($(this).parents('tr')).data();
                arrayOfIds.push(data.Id);
                Action_Click('btnDelete');
            });

    </script>
}