@{
    ViewData["Title"] = "Our Programme";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>

</style>


<br>
<div class="table-responsive">
    @*<div style="overflow-x:scroll">*@
    <table id="programmeDataTable" width="100%" class="stripe hover">
        <thead>
            <tr>
                
                <th>Speaker</th>
                <th>Cordinator</th>
                <th>Programme</th>
                <th>Programme Date </th>
                <th>Note</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @*</div>*@
</div>



@section scripts{
    <script>

        var table = $("#programmeDataTable").DataTable({
            //columnDefs: [{
            //    targets: [12, 13],
            //    render: $.fn.dataTable.render.ellipsis(10)
            //}],
            "lengthMenu": [[7, 20, 25, 50, -1], [7, 20, 25, 50, "All"]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paginate": true,
            "scrollX": true,
            // colReorder: false,
            //  rowReorder:false,
            //select: true,
            //dom: 'Bfrtip', , new{area="Unit"}
            "ajax": {
                "url": "@Url.Action("GetAllProgrammeData","ProgrammeTableData")",
                "type": "POST",
                "datatype": "json",
                "data": function (arg) { }
            },
            "columns": [
                
                { "data": "speaker", "name": "speaker", "autoWidth": false },
                { "data": "cordinator", "name": "cordinator", "autoWidth": false },
                { "data": "programme", "name": "programme", "autoWidth": false },
                { "data": "strDate", "name": "programmeDate", "autoWidth": false },
                { "data": "note", "name": "note", "autoWidth": false },
                { "data": "programmeStatus", "name": "programmeStatus", "autoWidth": false },
            ],

        });

    </script>
}