@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="text-center text-primary">Brief of ESM</p>
        </div>
        <div class="card-body">
            <article>
                <p>The ministry esm dat was established on April 19th 1992, with a vision "to thoroughly disciple, motivate, develop and equip students and graduates for global evangelization as we strengthen Ecwa department and churches"... The name of the ministry at first was called Ecwa Student Association (ESA) later changed to Ecwa Student Fellowship (ESF) which later metamorphose to Ecwa Student Ministry (ESM) till date... ESM is been supervised by the Christian Education Department of ECWA. Esm is structured in 3 strata i.e Chapter level, Zonal level and National/International level. Since 25years of existence, Esm has not relent in vigorously pursuing its vision and walking along side with its motto which is Equipping the Saints (Eph 4:11-12)..... Esm is a training ground and a place of equipping youth, undergraduate,and graduate for global evangelism through discipleship, and pressing towards the goal of the high calling in Christ JESUS.</p>
                <p>The ministry is blessed with eight Zones in Nigeria (Aba Zone, Abuja Zone, Zaria Zone, Ibadan Zone, Ilorin Zone, Maiduguri Zone, Bauchi Zone) and 1 Zone abroad.</p>
                <p>May God continue to increase our Course in this ministry.</p>
            </article>
        </div>
    </div>
    
</div>

@* Free Style Animation *@
@*<div id="ball" class="animate rounded-circle text-succes h3 text-center">
    <p>  “Equipping the Saint for service” Ephesians 4:12</p>
</div>*@