@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-muted"> ESMITES General Member</h4>

<br />
<div class="container hideForm" style="background-color:lightblue">
    <h5 class="text-primary">Capture new record</h5>
    <div class="row">
        <form id="clearFrm">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Surname</label>
                        <input id="rowId" type="hidden">
                        <input class="form-control" id="txtSurname" type="text" placeholder="">
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Firstname</label>
                        <input class="form-control" id="txtFirstname" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Othername</label>
                        <input class="form-control" id="txtOthername" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Gender</label>
                        <vc:gender></vc:gender>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label for="">Phone Number</label>
                        <div class="">
                            <div class="">
                                <input type="text" class="form-control" placeholder="" id="txtPhoneNumber">
                            </div>
                        </div>
                    </div>
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input class="form-control" id="txtEmail" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">State of origin</label>
                        <div id="warning" height> </div>
                        <vc:state></vc:state>
                    </div>
                </div>
            
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">LGA</label>
                        <div id="warning2" height> </div>
                        <vc:lga></vc:lga>
                    </div>
                </div>
            </div>
                       
            <br />
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Hostel Address</label>
                        <input class="form-control" id="txtHostelAddress" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Home Address</label>
                        <input class="form-control" id="txtHomeAddress" type="text" placeholder="">
                    </div>
                </div>

                <div />
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Course of Study</label>
                        <input class="form-control" id="txtCourseOfStudy" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Faculty</label>
                        <input class="form-control" id="txtFaculty" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Ambition</label>
                        <input class="form-control" id="txtAmbition" type="text" placeholder="">
                    </div>
                </div>
            </div>               <br/>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Social Media Address</label>
                        <input class="form-control" id="txtSocialMediaAddress" type="text" placeholder="">
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label for="">Date Join ESM</label>
                        <div class="ate-input">
                            <div class="ate-input">
                                <input type="text" class="date form-control" placeholder="" id="txtDateJoinESM">
                            </div>
                        </div>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label for="">Year Of Entry</label>
                        <div class="ate-input">
                            <div class="ate-input">
                                <input type="text" class="date form-control" placeholder="" id="txtYearOfEntry">
                            </div>
                        </div>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label for="">Year Of Graduation</label>
                        <div class="ate-input">
                            <div class="ate-input">
                                <input type="text" class="date form-control" placeholder="" id="txtYearOfGraduation">
                            </div>
                        </div>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label for="">Date Of Birth</label>
                        <div class="ate-input">
                            <div class="ate-input">
                                <input type="text" class="date form-control" placeholder="" id="txtDateOfBirth">
                            </div>
                        </div>
                    </div>
                </div><!-- col-4 -->
            </div>

            <div class="text-center">
                <br />
                <button class="btn btn-primary" type="submit" id="saveRecord">Save</button>
                
            </div>
            <br />
        </form>
    </div>
</div>

@section scripts{
    <script>

        var saveUrl = "@Url.Action("AddOrUpdateGeneralMember","GeneralMember", new {area="Unit"})";
        $(document).ready(function () {
            
        });
        $.fn.clearForm = function () {
            this.each(function () { this.reset() })
        }
        $("#saveRecord").click(function (e) {
            e.preventDefault();

            if (!$("#txtSurname").val()) {
                Swal.fire('Please input a value. Surname cannot be empty.', '', 'warning');
                $("#txtSurname").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtSurname").css({ 'background-color': '' });
            }
            if (!$("#txtFirstname").val()) {
                Swal.fire('Please input a value. Firstname cannot be empty.', '', 'warning');
                $("#txtFirstname").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtFirstname").css({ 'background-color': '' });
            }
            if (!$("#txtOthername").val()) {
                Swal.fire('Please input a value. Othername cannot be empty.', '', 'warning');
            $("#txtOthername").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtOthername").css({ 'background-color': '' });
            }
            if (!$("#txtPhoneNumber").val()) {
                Swal.fire('Please input a value. Phone Number cannot be empty.', '', 'warning');
                $("#txtPhoneNumber").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtPhoneNumber").css({ 'background-color': '' });
            }
            if (!$("#drpState").val()) {
                Swal.fire('Please select your State of origin.', '', 'warning');
                $("#warning").css({ 'background-color': 'orange', 'height': '7px', 'width': '100%' });
                return;
            }
            else {
                $("#warning").css({ 'background-color': '', 'height': '', 'width': '' });
            }
            if (!$("#drpLga").val()) {
                Swal.fire('Please select your LGA.', '', 'warning');
                $("#warning2").css({ 'background-color': 'orange', 'height': '7px', 'width': '100%' });
                return;
            }
            else {
                $("#warning").css({ 'background-color': '', 'height': '', 'width': '' });
            }
            if (!$("#txtHostelAddress").val()) {
                Swal.fire('Please input a value. Hostel address cannot be empty.', '', 'warning');
                $("#txtHostelAddress").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtHostelAddress").css({ 'background-color': '' });
            }
            if (!$("#txtHomeAddress").val()) {
                Swal.fire('Please input a value. Home address cannot be empty.', '', 'warning');
                $("#txtHomeAddress").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtHomeAddress").css({ 'background-color': '' });
            }
            if (!$("#txtCourseOfStudy").val()) {
                Swal.fire('Please input a value. Course of Study cannot be empty.', '', 'warning');
                $("#txtCourseOfStudy").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtCourseOfStudy").css({ 'background-color': '' });
            }
            if (!$("#txtFaculty").val()) {
                Swal.fire('Please input a value. Faculty cannot be empty.', '', 'warning');
                $("#txtFaculty").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtFaculty").css({ 'background-color': '' });
            }
            if (!$("#txtDateJoinESM").val()) {
                Swal.fire('Please select date you joined ESM.', '', 'warning');
                $("#txtDateJoinESM").css({ 'background-color': 'orange' });
                return;
            }
            else {
                $("#txtDateJoinESM").css({ 'background-color': '' });
            }
            
            var body = {
                Id: $("#rowId").val() == "" ? 0 : $.trim($("#rowId").val()),
                Surname: $.trim($("#txtSurname").val()),
                Firstname: $.trim($("#txtFirstname").val()),
                Othername: $.trim($("#txtOthername").val()),
                Middlename: $.trim($("#txtMiddlename").val()),
                DateOfBirth: $.trim($("#txtDateOfBirth").val()),
                Gender: $("#drpGender").val(),
                Email: $.trim($("#txtEmail").val()),
                PhoneNumber: $.trim($("#txtPhoneNumber").val()),
                StateOfOrigin: $("#drpState").val(),
                Ambition: $("#txtAmbition").val(),
                YearOfEntry: $.trim($("#txtYearOfEntry").val()),
                YearOfGraduation: $.trim($("#txtYearOfGraduation").val()),
                LGA: $("#drpLga").val(),
                SocialMediaAddress: $.trim($("#txtSocialMediaAddress").val()),
                HostelAddress: $.trim($("#txtHostelAddress").val()),
                HouseAddress: $.trim($("#txtHomeAddress").val()),
                YearJoinESM: $.trim($("#txtDateJoinESM").val()),
                CourseOfStudy: $.trim($("#txtCourseOfStudy").val()),
                Faculty: $.trim($("#txtFaculty").val()),
            }
            var payload = SiteUtils.encrypt(JSON.stringify(body)).toString();
            SiteUtils.post({ payload: payload }, saveUrl).then(function (response) {
                if (response.hasError == false) {
                    Swal.fire(response.message, '', 'success');
                    $("#clearFrm").clearForm();
                }
                else if (response.hasError == true) {
                    Swal.fire(response.message, '', 'error');
                }
            })
            //$.ajax({
            //  type: "POST",
            //  url:saveUrl,
            //  data:JSON.stringify(body),
            //  dataType:'json',
            //  //contentType:'application/json; charset=utf-8',
            //  success: function(data)
            //  {
            //  alert(data.message)
            //  },
            //  error:function()
            //  {
            //  alert("An error occured")
            //  }
            //});
        });
        jQuery('.date').datepicker({
            timepicker: false,
            format: 'Y/m/d',
            changeYear: true,
            changeMonth: true,
            yearRange: "1970:2033"
        })

    </script>
}