@{
    ViewData["Title"] = "All Announcement";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>

</style>

<button class="btn btn-primary btn-rounded" id="newRecord">Capture New Record</button>
<br>
<br>

<div class="table-responsive">
    <table id="announcementTable" width="100%" class="stripe hover">
        <thead>
            <tr>
                <th>Actions</th>
                <th>ID</th>
                <th>Announcement One</th>
                <th>Announcement Two</th>
                <th>Announcement Three</th>
                <th>Announcer</th>
                <th>Announcement Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



@using (Html.BeginForm("ViewAnnouncement", "AdminControlView", FormMethod.Post, new { id = "viewAnnouncementForm", target = "_blank" }))
{
    <input type="hidden" name="viewRecordId" id="viewRecordId">
}
@using (Html.BeginForm("UpdateAnnouncement", "AdminControlView", FormMethod.Post, new { id = "updateAnnouncementForm", target = "_blank" }))
{
    <input type="hidden" name="updateRecordId" id="updateRecordId">
}


@section scripts{
    <script>

        var table = $("#announcementTable").DataTable({
            //columnDefs: [{
            //    targets: [5],
            //    render: $.fn.dataTable.render.ellipsis(30)
            //}],
            "lengthMenu": [[7, 20, 25, 50, -1], [7, 20, 25, 50, "All"]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "paginate": true,
            "scrollX": true,
            
            "ajax": {
                "url": "@Url.Action("GetAllAnnouncement","AdminControl")",
                "type": "POST",
                "datatype": "json",
                "data": function (arg) { }
            },
            "columns": [
                {
                    "data": null, "name": "Action", "defaultContent": '<div class="btn-group mr-1 mb-1">' +
                        "<button aria-expanded='false' aria-haspopup='true' class='btn btn-white dropdown-toggle' data-toggle='dropdown' id='dropdownMenuDetail' type='button'></button>" +
                        "<div aria-labelledby='dropdownMenuButton6' class='dropdown-menu'>" +
                        "<a class='dropdown-item' href='#' id='changeRecord' title='Update record'><i class='fa fa-edit'></i>&nbsp; Update record</a>" +
                        "<a class='dropdown-item' href='#' id='viewRecord' title='View record'><i class='fa fa-info-circle'></i>&nbsp; View record</a>" +
                        "</div>" +
                        '</div>'

                },

                { "data": "id", "name": "id", "autoWidth": false },
                { "data": "announcementOne", "name": "announcementOne", "autoWidth": false },
                { "data": "announcementTwo", "name": "announcementTwo", "autoWidth": false },
                { "data": "announcementThree", "name": "announcementThree", "autoWidth": false },
                { "data": "announcer", "name": "announcer", "autoWidth": false },
                { "data": "strAnnouncementDate", "name": "strAnnouncementDate", "autoWidth": false }
                

            ],

        });

        $('#announcementTable tbody').on('click', '#viewRecord', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            $("#viewRecordId").val(data.id);
            $("#viewAnnouncementForm").submit();

        });

        $('#announcementTable tbody').on('click', '#changeRecord', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            $("#updateRecordId").val(data.id);
            $("#updateAnnouncementForm").submit();

        });

        $('#newRecord').on('click', function (e) {
            e.preventDefault();
            var returnUrl = '@Url.Action("CreateNewAnnouncement", "AdminControlView")';
            window.location.href = returnUrl;
        });

    </script>
   }
