@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-muted"> Testimony</h4>
<h5 class="text-muted">Capture new record</h5>

<div class="container" style="background-color:lightblue">
    <form id="clearFrm" class="justify-content-center">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Surname</label>
                    <input id="rowId" type="hidden">
                    <input class="form-control" id="txtSurname" type="text" placeholder="">
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Firstname</label>
                    <input class="form-control" id="txtFirstname" type="text" placeholder="">
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">Goodnews</label>
                    <input class="form-control" id="txtGoodnews" type="text" placeholder="">
                </div>
            </div>
                 
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Department</label>
                    <input class="form-control" id="txtDepartment" type="text" placeholder="">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form-group mg-b-10-force">
                    <label for="">Date </label>
                    <div class="ate-input">
                        <div class="ate-input">
                            <input type="text" class="date form-control" placeholder="Date" id="txtTestimonyDate">
                        </div>
                    </div>
                </div>
            </div><!-- col-4 -->
        </div>
        <br />
        
        
        <div class="text-center">
            <br />
            <button class="btn btn-primary" type="submit" id="saveRecord">Save</button>
        </div>
        <br />
    </form>
</div>


@section scripts{

    <script>

        var saveUrl = "@Url.Action("AddUpdateTestimomy","Testimony")";
        $.fn.clearForm = function () {
            this.each(function () { this.reset(); })
        }
        $("#saveRecord").click(function (e) {
            e.preventDefault();

            var body = {
                Id: $("#rowId").val() == "" ? 0 : $.trim($("#rowId").val()),
                Surname: $.trim($("#txtSurname").val()),
                Firstname: $.trim($("#txtFirstname").val()),
                TestimonyDate: $.trim($("#txtTestimonyDate").val()),
                Department: $.trim($("#txtDepartment").val()),
                TheGoodNews: $.trim($("#txtGoodnews").val())
            }

            $.ajax({
                type: "POST",
                url: saveUrl,
                dataType: "Json",
                data: { payload: JSON.stringify(body) },
                success: function (result) {
                    if (result.hasError == false) {
                        Swal.fire(result.message, '', 'success');
                        $("#clearFrm").each(function () {
                            this.reset();
                        })
                    }
                    else if (result.hasError == true) {
                        Swal.fire(result.message, '', 'error');
                    }

                },

            });
        });
        jQuery('.date').datepicker({
            timepicker: false,
            format: 'Y/d/m',
        });

    </script>
}