.dataTables_wrapper .row:first-child {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.dataTables_wrappr {
    background: lightblue;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: gold;
    border-radius: 0px;
    border: 1px solid #828282;
    border-color: gold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    block-size: fit-content;
    /* width:10px;
    height:10px;*/
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: green;
    }

div.dataTables_wrapper div.dataTables_length select {
    width: 170px;
}

div .dataTables_wrapper {
    background-color: aliceblue;
}
.truncate {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}