

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Gaegu:wght@300&family=Libre+Baskerville:ital@0;1&family=Sedgwick+Ave+Display&family=Sigmar&display=swap');

.fonts, .contact {
    /*font-family: 'Sigmar', cursive;*/
    font-family: 'Bungee Shade', cursive;
    font-size:28px;
}
.required label::after {
    content: "*";
}
.welcome {
    font-family: 'Sedgwick Ave Display', cursive;
    padding:3rem;
}
.img{

    padding-top:1rem
}
.address{
    
    font-family: 'Gaegu', cursive;
    font-size:25px;
}
.responsiveImg {
    width: 50%;
    height: auto;
}
html {
    font-size: 14px;
}
#centre{
   
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg{
    background-color:goldenrod;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .all-wrapper .btn-group > .fc-button:not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn-group:not(:last-child) > .btn, .all-wrapper
    .btn-group > .btn-group:not(:last-child) > .fc-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.btn-primary:not(:disabled):not(.disabled):active, .all-wrapper .fc-button.fc-state-active:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .all-wrapper .fc-button.fc-state-active:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle, .all-wrapper
.show > .dropdown-toggle.fc-button.fc-state-active {
    color: #fff;
    background-color: #0362c6;
    border-color: #035cb9;
}
