/*@media screen and (min-width: 992px) {
    .container {
        max-width: 900px !important;
    }
}

@media screen and (min-width: 1650px) {
    .container {
        max-width: 1400px !important;
    }
}*/
#table.DataTable.thead th {
    border-top:1px;
}
.change {
    color: #ff0000
}

.uploadFigure {
    color: #fff
}

.customSearch {
    margin: 0px 0px !important
}

.text-right {
    color: #fff
}

.NewRow {
    color: #047bf8
}

.form-control-sm {
    line-height: 1.1 !important;
}

.dataTables_wrapper .row:last-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.invoice-footer {
    margin-top: 0 !important;
}

#paginationInfo {
    line-height: 2.1 !important
}

.statictisModal ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

    .statictisModal ul li {
        border: 1px solid #ddd; /* Add a thin border to each list item */
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6; /* Add a grey background color */
        padding: 12px; /* Add some padding */
    }

 .statictisModal ul li .badge {
            color: #fff !important;
 }


/*.truncate {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/


/*Key Frame Animation*/
@keyframes ballmove {

    0% {
        left: 0px;
        top: 0px;
        color: red;
        background-color: greenyellow;
    }

    33% {
        left: 20px;
        top: 100px;
        background-color: blue;
        color: white;
        transform: scaleY(1.5);
    }

    66% {
        left: 40px;
        top: 120px;
        background-color: salmon;
        transform: rotate3d(1,0,0,60deg)
    }

    100% {
        left: 70px;
        top: 130px;
        background-color: firebrick;
        color: white;
        /*transform: skewY(60deg);*/
    }
}

div #ball.animate {
    animation-name: ballmove;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-timing-function: ease-in ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}